#canvas1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
    height: 600px;
    width: 600px;
}

.controls{
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.controls, select, option {
    font-size: 25px;
}